<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      th:replace="fragments/base-layout::layout(~{this :: main},~{this :: script})">

<main class="wrapper-80">
    <div class="title" th:text="#{article.create}"></div>

    <form th:method="post" th:action="@{|/${@localeService.getLocale()}/admin/articles/create|}"
          th:object="${articleBinding}">

        <div class="two-fields">
            <div class="form-group">
                <label for="cat" th:text="#{category}"></label>
                <select name="categoryId" class="form-control" id="cat" th:value="${categoryId}">
                </select>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('country')} ? 'text-danger'">
                <label for="lang" th:text="#{lang.country}"></label>

                <select name="country" class="form-control" id="lang" th:field="${articleBinding.country}">
                    <option th:each="countryCode : ${T(architecture.domain.CountryCodes).values()}"
                            th:value="${countryCode}"
                            th:text="#{${'lang.' + countryCode }}"
                            th:selected="${#strings.equals(articleBinding.getCountry(), countryCode) ? true : false}">
                    </option>
                </select>
                <small th:each="error : ${#fields.errors('country')}" th:utext="${error +'<br>'}"></small>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('title')} ? 'text-danger'">
            <label for="title" th:text="#{article.title}"></label>
            <input type="text" class="form-control"
                   th:field="*{title}" th:value="${articleBinding.title}"
                   id="title" th:placeholder="#{article.title}+'...'" name="title"
                   required pattern="^.{2,}$" title="Please enter at least 2 characters">

            <small th:each="error : ${#fields.errors('title')}" th:utext="${error +'<br>'}"></small>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('content')} ? 'text-danger'">
            <label for="content" th:text="#{article.content}"></label>
            <textarea type="text" class="form-control" rows="9"
                      th:field="*{content}" th:value="${articleBinding.content}"
                      id="content" th:placeholder="#{article.content}" name="content"
                      required pattern="^.{2,}$" title="Please enter at least 2 characters">

            </textarea>

            <small th:each="error : ${#fields.errors('content')}" th:utext="${error +'<br>'}"></small>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('mainImage.url')} ? 'text-danger'">
            <label for="mainImageUrl" th:text="#{article.mainImage.url}"></label>
            <input type="text" class="form-control"
                   th:field="*{mainImage.url}" th:value="${articleBinding.mainImage.url}"
                   id="mainImageUrl" th:placeholder="#{article.mainImage.url}" name="mainImageUrl">
            <small th:each="error : ${#fields.errors('mainImage.url')}" th:utext="${error +'<br>'}"></small>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('mainImage.name')} ? 'text-danger'">
            <label for="mainImageName" th:text="#{article.mainImage.name}"></label>
            <input type="text" class="form-control"
                   th:field="*{mainImage.name}" th:value="${articleBinding.mainImage.name}"
                   id="mainImageName" th:placeholder="#{enter.name}" name="mainImageName">

            <small th:each="error : ${#fields.errors('mainImage.name')}" th:utext="${error +'<br>'}"></small>
        </div>

        <div class="mt-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-info" th:text="#{article.create}"></button>
        </div>
    </form>
</main>

<script type="module" th:src="@{/js/article.js}"></script>

</html>