<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      th:replace="fragments/base-layout::layout(~{this :: main}, ~{this :: null})">
<main>
    <form class="mx-auto w-25" th:method="post" th:action="@{|/${@localeService.getLocale()}/users/register|}"
          th:object="${userRegister}">

        <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? 'text-danger'">
            <label for="username" th:text="#{user.username}"></label>
            <input type="text" class="form-control"
                   th:field="*{username}" th:value="${userRegister.username}"
                   id="username" th:placeholder="#{enter.name}" name="username">

            <small th:each="error : ${#fields.errors('username')}" th:utext="${error +'<br>'}"></small>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'text-danger'">
            <label for="email" th:text="#{user.email}"></label>
            <input type="email" class="form-control"
                   th:field="*{email}" th:value="${userRegister.email}"
                   id="email" th:placeholder="#{enter.email}" name="email">

            <small th:each="error : ${#fields.errors('email')}" th:utext="${error +'<br>'}"></small>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'text-danger'">
            <label for="password" th:text="#{user.password}"></label>
            <input type="password" class="form-control"
                   th:field="*{password}" th:value="${userRegister.password}"
                   id="password" th:placeholder="#{user.password} + '...'" name="password">

            <small th:each="error : ${#fields.errors('password')}" th:utext="${error +'<br>'}"></small>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'text-danger'">
            <label for="confirmPassword" th:text="#{user.confirmPassword}"></label>
            <input type="password" class="form-control"
                   th:field="*{confirmPassword}" th:value="${userRegister.confirmPassword}"
                   id="confirmPassword" th:placeholder="#{user.confirmPassword} + '...'" name="password">

            <small th:each="error : ${#fields.errors('confirmPassword')}" th:utext="${error +'<br>'}"></small>
        </div>

        <div class="button-holder mt-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-info" th:text="#{register}"></button>
        </div>
    </form>
</main>
</html>