<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      th:replace="fragments/base-layout::layout(~{this :: main}, ~{this :: null})">

<main class="center-main">
    <form class="wrapper-25" th:method="post" th:action="@{/users/authentication}"
          th:object="${userLogin}">
        <div class="title" th:text="#{login}"></div>

        <div class="form-group">
            <label for="username" th:text="#{user.username}"></label>
            <input type="text" class="form-control"
                   th:field="*{username}" th:value="${userLogin.username}"
                   id="username" th:placeholder="#{enter.name}" name="username">
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'text-danger'">
            <label for="password" th:text="#{user.password}"></label>
            <input type="password" class="form-control"
                   th:field="*{password}" th:value="${userLogin.password}"
                   id="password" th:placeholder="#{user.password} + '...'" name="password">
        </div>

        <th:block th:if="${exception!=null}">
            <div class="text-center mt-3" style="color: red; font-size: 20px;font-weight: bold"
                 th:text="${exception.getMessage()}">
            </div>
        </th:block>

        <div class="button-holder mt-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-info" th:text="#{login}"></button>
        </div>

    </form>
</main>

</html>